@media (min-width:320px) and (max-width: 480px) {

    .header-blog {
        padding: 0 20px;
    }

    form {
        width: 90%;
        margin: 0 auto 30px auto;
    }

    .news {
        width: 90%;
        margin: auto;
    }

    .news span {
        font-size: 14px;
    }

    .news h2 {
        width: 370px;
        font-size: 22px;
        text-align: left;
        margin: 20px 0 10px 0;
    }

    .news p {
        width: 380px;
        font-size: 16px;
    }

    .news i {
        font-size: 16px;
        color: var(--purple);
    }

}

@media (min-width: 482px) and (max-width: 1024px) {

    .header-blog {
        padding: 0 20px;
    }

    form {
        width: 95%;
        margin: 0 auto 30px auto;
    }

    .news {
        width: 95%;
        margin: auto;
    }

}